language: objective-c
before_install:
  - sudo easy_install cpp-coveralls
script:
  - xctool test GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES
after_success:
  - ./script/coveralls.sh -r ./ -e Pods -e Tests